*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

body{
    background-image: -moz-radial-gradient(50px 20px,circle farthest-corner,
    rgb(216, 208, 239) , aliceblue,#ffffff);
    background-image: -webkit-radial-gradient(50px 20px,circle farthest-corner,
    rgb(216, 208, 239) ,aliceblue,#ffffff);
    
    

}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 880px;
    margin: 0 auto;

}

.hamburger{
    color: #795548  ;
    font-size: 1.5rem;
    cursor: pointer;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 999;

}

/* Header section */
header{
    height: 650px;
    position: relative;
   

    nav{
        
        width: 500px;
        margin: 1rem auto; /* จัดให้ nav อยู่ตรงกลางหน้าจอ */
        position: fixed;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;


        .nav-wrapper{
            position: relative;
            background-color: rgb(255, 255, 255);
            height: 55px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 9999px;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
            

            .menu{
                display: flex;
                list-style: none;

                li{
                    margin: 0 1rem;

                    a{
                        text-decoration: none;
                        color: #848587;
                        cursor: pointer;
                        
                    
                    }
                }
            }
        }
    }

    @media screen and (min-width:768px) {
        .hamburger{
            display: none;
        }
    }

    @media screen and (max-width: 768px){ /* ตั้งค่าเวลาลดขนาดหน้าจอแล้วจะให้ความสูงหรือระยะขอบเท่าไหร่  */
        height: auto;
        padding: 10px 2rem;
        

        nav{

            .nav-wrapper{
                flex-direction: column;
                align-items: start;
                margin: 0;
                position: absolute;
                top: 4rem;
                right: 1rem;
                height: auto;
                border-radius: 10px;
                width: 200px;
                align-items: center;
                justify-content: center;
                z-index: 999;
                


                .menu.show{
                    display: flex;
                    flex-direction: column;
                }

                .menu{
                    display: none;
                    flex-direction: column;
                    padding: 3rem;
                    
                    


                    li{
                        margin-left: 0%;
                        margin-top: 2rem;
                    }
                }
            }
        }
    }

    .profile{

        .profile-wrapper{
           display: flex;
           align-items: center;
           margin-top: 5rem;
           
            
           .profile-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

              .profile-img{
                img{
                    max-width: 400px;
                    border-radius: 9999px;
                    border-color: rgb(156, 112, 55);
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
                }
              }

              .profile-info{
                margin-left: 5rem;
                max-width: 500px;
                width: 100%;
                padding: 1rem;

                p{
                    font-size: clamp(1rem, 10vw, 30px);
                    margin: 1rem;
                    color: #7e6c66;
                    text-align: left;
                }

                h1{
                    font-size: clamp(1rem, 10vw, 45px);
                    font-weight: bold;
                    text-align: left;
                }
              }

              .btn{
                display: flex;

                .btn-cv{
                    margin-top: 1rem;
                    font-weight: 600;
                    transition: all 300ms ease;
                    padding: 1rem;
                    width: 8rem;
                    border-radius: 2rem;
                    color: white;
                    background-color: #5b4f4b;
                    border: none;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);

                }

                .btn-cv:hover{
                    cursor: pointer;
                    background-color: rgb(233, 229, 229) ;
                    color: rgb(53, 52, 52);
                    transform:translateY(-7px);
                }
              }

              .socials{
                img{
                    cursor: pointer;
                    height: 2.5rem;
                    margin-top: 2rem;
                    margin-left: 1rem;
                    border-radius: 999px;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
                    

                }

                img:hover{
                    transform: scale(1.2);
                }
              }
           }
        }
    }

    @media screen and (max-width:768px) {
        height: auto;

        .profile-wrapper{
            height: auto;
            width: 100%;
            

            .profile-box{
                padding: 1rem;
                flex-direction: column;
                

                .profile-info{
                    h1{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                 
                    .btn{
                        justify-content: center;
                        margin-right: 4rem;

                    }

                    .socials{
                        justify-content: center;
                        margin-left: 2rem;
                    }
                }

                .profile-img{
                    max-width: 100%;
                    img{
                        
                    }
                }
            }

        }
    }
}


/* About section */
.about{
    height: 550px;

    .about-title{
        
        h2{
            text-align: center;
            font-size: clamp(2rem, 10vw, 25px);
            
        }

        h2:hover{
            text-decoration: #988316;
        }
    }

    .about-box{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-top: 2rem;

        .about-text{
            font-size: clamp(1rem, 10vw, 20px);
            margin-right: 1rem;
        }

        .about-img{
             
            margin-left: 1rem;

            img{
                max-width: 300px;
                width: 300px;
                border-radius: 10px;
            }
        }
    }

    @media screen and (max-width:768px) {
        height: auto;
        
        
        .about-title{
           /* background-color: #5b4f4b;
           color: wheat;
           border-radius: 5rem;
           box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); */
           
        }
        
        .about-box{
            flex-direction: column;
            justify-content: center;
            padding: 0 2rem;
            margin-bottom: 3rem;

            .about-img{
                img{
                    margin-top: 1.5rem;
                }
            }
        }

    }
}



/* Experience section */
.experience{
    height: 300px;

    .experience-title{
        h2{
            text-align: center;
            font-size: clamp(2rem, 10vw, 25px);
            margin-bottom: 2rem;
        }
    }

    .experience-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
        gap: 25px;
       

        .experience-grid-item{
            border: 3px solid #7e6c66;
            border-radius: 6px;
            display: flex;
            flex-direction: row; /* รูปซ้าย ข้อความขวา */
            align-items: center; /* จัดให้ข้อความอยู่กลางแนวตั้งกับรูป */
            gap: 15px;
            width: 200px;
            padding: 10px;


            img{
                height: 50px;
                border-radius: 10px;
            }

            p{
                font-size: clamp(1.5rem, 10vw, 8px);
                margin-top: 5px;
            }
            
        }
    }

    @media screen and (max-width:768px) {
        height: auto;
        margin-top: 7rem;
       

        .experience-title{
           /* background-color: white;
           background-color: #5b4f4b;
           color: wheat;
           border-radius: 5rem;
           box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); */
           
        }

        .experience-grid{
            justify-content: center;
            padding: 0 1.5rem;
            margin-bottom: 4rem;
        }
    }

}




/* Projects section */
.projects{
    height: 1200px;
    
    overflow: hidden;

    .projects-tile{
        text-align: center;

        h2{
            font-size: clamp(2rem, 10vw, 25px);
            margin-bottom: 1rem;
        }

        p{
            font-size: clamp(1rem, 10vw, 25px);
            color: #5b4f4b;

        }
    }

    .projects-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit /* อย่าลืม */ , minmax(250px,1fr));
        gap: 5rem;
        text-align: center;
        margin-top: 3rem;
        
       

        .projects-grid-item{
            max-width: 350px;
            margin-bottom: 3rem;
            background-color: white;
            padding: 1rem;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
            border-radius: 10px;

            img{
                height: 200px;
                border-radius: 10px;
                max-width: 100%;
            }

            h3{
                font-size: clamp(1rem, 10vw, 25px);
                margin:5px 0 ;
            }

            p{
                font-size: clamp(1rem, 10vw, 20px);
                margin-bottom: 1rem;
                text-align: start;
            }

            .btn{
                display: flex;
                justify-content: space-evenly;

                .btn-gh1{
                    font-weight: 600;
                    transition: all 300ms ease;
                    padding: 1rem;
                    width: 9rem;
                    border-radius: 2rem;
                    color: white;
                    background-color: #8e807b;
                    border: none;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
                    

                }

                .btn-gh2{
                    font-weight: 600;
                    transition: all 300ms ease;
                    padding: 1rem;
                    width: 9rem;
                    border-radius: 2rem;
                    color: rgb(42, 32, 32);
                    background-color: #f0eeed;
                    border: none;
                    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
                    

                }

                .btn-gh1:hover{
                    cursor: pointer;
                    color: #312c2b;
                    background-color: rgb(242, 238, 233);
                    transform:translateY(-7px);
                    
                }

                .btn-gh2:hover{
                    cursor: pointer;
                    color: #e6e6e6;
                    background-color: #544b48;
                    transform:translateY(-7px);
                    
                }
            }
        }

        .projects-grid-item:hover{
            background-color: rgb(228, 224, 224);
        }
    }

    @media screen and (max-width:768px) {
        height: auto;
        margin-top: 7rem;

        .projects-tile{
           

            
            h2{
           /* background-color: #5b4f4b;
           color: wheat;
           border-radius: 5rem;
           box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); */
            }

            p{
                margin: 1rem;
            }

        }


        .projects-grid{
            max-width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 0 4rem;
            margin: 1rem;
        }

        .projects-grid-item{
           height: auto;
           .btn{
            max-width: 100%;
           }
            img{
                max-width: 100%;
            }
        }
    }

}


/* Education section */
.education{
    height: 700px;
    

    .education-title{
        text-align: center;
        margin-top: 5rem;

        h2{
            font-size: clamp(2rem, 10vw, 25px);
            margin-bottom: 2rem;
        }
    }

    .education-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-bottom: 5rem;
       
        

        .education-item{
            display: flex;
            text-align: start;
            justify-content: center;
            align-items: center;
            gap: 3rem;
            margin-bottom: 2rem;

            .education-img{
                img{
                    height: 150px;
                    border-radius: 10rem;
                }
            }

            .education-text{
                h3{
                    font-size: clamp(1rem, 10vw, 20px);
                    margin:5px 0 ;
                    color: #988316;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        height: auto;
        margin-top: 3rem;
        
        .education-title{
            /* background-color: white;
            background-color: #5b4f4b;
           color: wheat;
           border-radius: 5rem;
           box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); */
        }

        .education-box{
            padding: 0 3rem;

            .education-item{
                gap: 2rem;

                .education-img{

                    img{
                        height: 100px;
                    }
                }
            }
        }
    }
    
}


.nav-link.active {
  color: #393636!important;
  background-color: #b8b4b4 !important;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 9999px;
  
  }

